@import '../../styles/general.scss';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 9999em;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.loader {
  border: rem(5px) solid $grey-2;
  border-radius: 50%;
  border-top: rem(5px) solid $black;
  width: rem(40px);
  height: rem(40px);
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
