@import '../../styles/general.scss';

.text {
  font-family: $font-family-secondary;
  font-weight: $font-weight-regular;
  font-size: rem(16px);
  margin: 0 0 20px 0;

  span {
    font-family: $font-family-primary;
    font-weight: $font-weight-semibold;
    font-size: rem(18px);
  }
}

.block {
  display: block;
}
