@import '../../styles/general.scss';

.list {
  list-style: none;
  border: 1px solid $grey-1;
  border-radius: rem(6px);
  padding: 0;
}

.item {
  border-bottom: 1px solid $grey-1;
  padding: rem(15px 20px);

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.title {
  color: $main-color;
  text-decoration: none;
  margin-bottom: rem(10px);
}

.info {
  display: block;
  margin-bottom: rem(5px);

  &:last-child {
    margin-bottom: 0;
  }
}

.infoHeading {
  font-family: $font-family-secondary;
  font-weight: $font-weight-regular;
  font-size: rem(14px);
  display: inline-block;
  min-width: rem(200px);
}

.infoContent {
  font-family: $font-family-secondary;
  font-weight: $font-weight-semibold;
  font-size: rem(14px);
  display: inline-block;
  color: $black;
}
