@import '../../styles/general.scss';

.list {
  list-style: none;
  margin: rem(0 0 30px 0);
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.item {
  &::before {
    float: left;
    content: "•";
    display: inline-block;
    margin: rem(5px 10px 0 0);
  }

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.link {
  color: $main-color;
  text-decoration: none;
  transition: color $transition-duration $transition-easing;

  &:hover {
    color: $black;
  }
}

.info {
  display: block;
  margin-bottom: rem(5px);

  &:last-child {
    margin-bottom: 0;
  }
}

.infoHeading {
  font-family: $font-family-secondary;
  font-weight: $font-weight-regular;
  font-size: rem(14px);
  display: inline-block;
  min-width: rem(200px);
}

.infoContent {
  font-family: $font-family-secondary;
  font-weight: $font-weight-semibold;
  font-size: rem(14px);
  display: inline-block;
  color: $black;
}
