@import '../../styles/general.scss';

.container {
  margin: 0 auto;

  @each $container-size in map-keys($container-sizes) {
    @include respondTo($container-size) {
      width: map-get($container-sizes, $container-size);
    }
  }

  @each $gutter in map-keys($gutters) {
    $gutter-size: map-get($gutters, $gutter);

    @include respondTo($gutter) {
      padding-left: rem($gutter-size);
      padding-right: rem($gutter-size);
    }
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
