$rem-base: 16px;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function convert-to-rem($value, $base-value: $rem-base) {
  $value: strip-unit($value) / strip-unit($base-value) * 1rem;

  @if ($value == 0) { $value: 0; } // Turn 0rem into 0

  @return $value;
}

// Usage: margin: rem(16px 24px 8px 0)
@function rem($values, $base-value: $rem-base) {
  $remValues: ();

  @for $i from 1 through length($values) {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }

  @return $remValues;
}
