@import './functions.scss';
@import './fonts.scss';
@import './mixins.scss';

// BREAKPOINTS / CONTAINERS / GUTTERS
$breakpoints: (
  'extra-small': 420px,
  'small': 768px,
  'medium': 992px,
  'large': 1200px,
  'extra-large': 1600px
) !default;

$container-sizes: (
  'small': 750px,
  'medium': 970px,
  'large': 1140px,
  'extra-large': 1500px
) !default;

$gutters: (
  'extra-small': rem(5px),
  'small': rem(10px),
  'medium': rem(15px),
) !default;

// COLORS
$main-color: #0b8a00;
$grey-1: #ccc;
$grey-2: #666;
$black: #000;

// FONT WEIGHTS
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;

// FONT FAMILY
$font-family-primary: "Open Sans", sans-serif;
$font-family-secondary: "Arial", "Helvetica", sans-serif;

// TRANSITION
$transition-duration: 0.2s !default;
$transition-easing: ease-in-out !default;

// GRID SYSTEM
$grid-system: 8px;
