@import '../../styles/general.scss';

.list {
  list-style: none;
  margin: rem(0 0 30px 0);
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.item {
  border-bottom: 1px solid $grey-1;

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }
}
