@import '../../styles/general.scss';

.button {
  display: inline-block;
  font-family: $font-family-primary;
  font-weight: $font-weight-semibold;
  font-size: rem(12px);
  text-transform: uppercase;
  color: $main-color;
  transition: color $transition-duration $transition-easing;
  margin-bottom: rem(16px);

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "< ";
  }

  &:hover {
    color: $black;
  }

  @include respondTo('medium') {
    margin-bottom: rem(20px);
  }
}
