@import '../../styles/general.scss';

.heading {
  font-family: $font-family-primary;
  font-weight: $font-weight-semibold;
  display: block;
  margin: 0;
}

.h1 {
  font-size: rem(24px);
  margin-bottom: rem(24px);

  @include respondTo('medium') {
    font-size: rem(32px);
    margin-bottom: rem(32px);
  }
}

.h2 {
  font-size: rem(20px);
  margin-bottom: rem(20px);

  @include respondTo('medium') {
    font-size: rem(24px);
    margin-bottom: rem(24px);
  }
}

.h3 {
  font-size: rem(16px);
  margin-bottom: rem(16px);

  @include respondTo('medium') {
    font-size: rem(20px);
    margin-bottom: rem(20px);
  }
}

.h4 {
  font-size: rem(14px);
  margin-bottom: rem(14px);

  @include respondTo('medium') {
    font-size: rem(16px);
    margin-bottom: rem(16px);
  }
}

.h5 {
  font-size: rem(14px);
  margin-bottom: rem(14px);
  text-transform: uppercase;
}

.h6 {
  font-size: rem(12px);
  text-transform: uppercase;
}
